{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="container">
    <div class="section-footer-top">
      <div class="section-footer-top__left">
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'image_text' %}
                <div class="footer-top__item">
                  <div class="footer-top__item-image">
                    {% if block.settings.image != blank %}
                      <img
                        src="{{ block.settings.image | image_url }}"
                        alt=""
                        loading="lazy"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                        class="block w-full h-full"
                      >
                    {% endif %}
                  </div>
      
                  {% if block.settings.text != blank %}
                    <h5 class="footer-top__item-title">{{ block.settings.text }}</h5>
                  {% endif %}
                </div>
            {% endcase %}
          {% endfor %}
        {% endif %}
      </div>
  
      <div class="section-footer-top__right desktop">
        <div class="footer-top__socials">
          <a href="#"></a>
        </div>
      </div>

      <div class="section-footer-middle__socials desktop">
        <a href="#">
          {% render 'icon-social-facebook' %}
        </a>

        <a href="#">
          {% render 'icon-social-youtube' %}
        </a>

        <a href="#">
          {% render 'icon-social-linked' %}
        </a>
      </div>
    </div>

    <div class="section-footer-middle">
      <div class="section-footer-middle__logo">
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if settings.logo_footer != blank -%}
            <div class="header__heading-logo-wrapper">
              {%- assign logo_alt = settings.logo_footer.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo_footer.aspect_ratio -%}
              {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{ settings.logo_footer | image_url: width: 600 | image_tag:
                class: 'header__heading-logo',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
              }}
            </div>
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </div>

      <div class="section-footer-middle__socials mobile">
        <a href="#">
          {% render 'icon-social-facebook' %}
        </a>

        <a href="#">
          {% render 'icon-social-youtube' %}
        </a>

        <a href="#">
          {% render 'icon-social-linked' %}
        </a>
      </div>

      <div class="footer_content desktop">
        <div class="footer_content--box-columns info_company">
          <h5>Company Info</h5>
            <div class="footer_content--box-columns--links link_items">
              <ul>
                {% for link in linklists.menu-footer-company-info.links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
        </div>
  
        <div class="footer_content--box-columns legal">
          <h5>Support</h5>
            <div class="footer_content--box-columns--links link_items">
              <ul>
                {% for link in linklists.menu-footer-support.links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
        </div>

        <div class="footer_content--box-columns contact">
          <h5>Get In Touch</h5>
            <div class="footer_content--box-columns--links link_items">
              <ul>
                <li>
                  <a href="tel:+18153690989">
                    +1 815-369-0989
                  </a>
                </li>
                <li>
                  <a href="mailto:help@inito.com">help@inito.com</a> 
                </li>
                <li>
                  <a href="https://maps.app.goo.gl/f1aCrjtiSAGV5AZH6" target="_blank">
                    355 Bryant Street, Unit 403, San Francisco CA 94107
                  </a>
                 </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="footer_content mobile">
      <div class="footer_content--box-columns info_company">
        <accordion-dropdown class="block">
          <h4 class="accordion-title">
            <span class="heading">Company Info</span>
            <div class="chevron-arrow">
              <span class="open ">{% render 'icon-arrow-dropdown-down' %}</span>
              <span class="close hidden">{% render 'icon-arrow-dropdown-up' %}</span>
            </div>
          </h4>
          <div class="accordion-content">
            <div class="footer_content--box-columns--links link_items">
              <ul>
                {% for link in linklists.menu-footer-company-info.links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </accordion-dropdown>
      </div>

      <div class="footer_content--box-columns legal">
        <accordion-dropdown class="block ">
          <h4 class="accordion-title">
            <span class="heading">Support</span>
            <div class="chevron-arrow">
              <span class="open ">{% render 'icon-arrow-dropdown-down' %}</span>
              <span class="close hidden">{% render 'icon-arrow-dropdown-up' %}</span>
            </div>
          </h4>
          <div class="accordion-content">
            <div class="footer_content--box-columns--links link_items">
              <ul>
                {% for link in linklists.menu-footer-support.links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </accordion-dropdown>
      </div>

      <div class="footer_content--box-columns contact">
        <accordion-dropdown class="block ">
          <h4 class="accordion-title">
            <span class="heading">Get In Touch</span>
            <div class="chevron-arrow">
              <span class="open ">{% render 'icon-arrow-dropdown-down' %}</span>
              <span class="close hidden">{% render 'icon-arrow-dropdown-up' %}</span>
            </div>
          </h4>
          <div class="accordion-content">
            <div class="footer_content--box-columns--links link_items">
              <ul>
                <li>
                  <a href="tel:+18153690989">
                    +1 815-369-0989
                  </a>
                </li>
                <li>
                  <a href="mailto:help@inito.com">help@inito.com</a> 
                </li>
                <li>
                  <a href="https://maps.app.goo.gl/f1aCrjtiSAGV5AZH6" target="_blank">
                    355 Bryant Street, Unit 403, San Francisco CA 94107
                  </a>
                 </li>
              </ul>
            </div>
          </div>
        </accordion-dropdown>
      </div>
    </div>
  </div>

  <div class="footer__subcribe hidden">
    <div class="container">
      <p>Brandname. All Right Reserved</p>
      <div class="footer__subcribe--socials">
        <a href="#" class="team_item--content--socials--fb" >
          {% render 'icon-cus-facebook' %}
        </a>
        <a href="#" class="team_item--content--socials--insta" >
          {% render 'icon-cus-insta' %}                           
        </a>
        <a href="#" class="team_item--content--socials--tw" >
          {% render 'icon-cus-tw' %}                  
        </a>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "image_text",
      "name": "Image Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "TRUSTED BY 20,000+ COUPLES"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
