<div class="{{ section.class }}" data-section-id="{{ section.id }}">
  <div class="container full">
    <div class="banner_text">
      <div class="banner_text__content">
        <div class="banner_text__content_logo">
          <div class="banner_text__content_logo--text-right">
            {% if section.settings.banner_text_2 != blank %}
              <h2 class="h1">{{ section.settings.banner_text_2 }}</h2>
            {% endif %}
            {% if section.settings.banner_text_3 != blank %}
              <p>{{ section.settings.banner_text_3 }}</p>
            {% endif %}

            <div class="banner_text__content_logo--text-right--links">
              {% if section.settings.text_link_1 != blank and section.settings.text_link_1 != blank %}
                <a href="{{ section.settings.url_link_1 }}" class="btn btn-primary banner_text__content_logo--text-right--links--join-us">{{ section.settings.text_link_1 }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="banner_text_image">
        {% if section.settings.banner_image_bg_desk != blank %}
          <img
            src="{{ section.settings.banner_image_bg_desk | image_url }}"
            alt=""
            loading="lazy"
            width="{{ section.settings.banner_image_bg_desk.width }}"
            height="{{ section.settings.banner_image_bg_desk.height }}"
            class="block w-full h-full desktop"
          >
        {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag }}
        {% endif %}

        {% if section.settings.banner_image_bg_mobile != blank %}
          <img
            src="{{ section.settings.banner_image_bg_mobile | image_url }}"
            alt=""
            loading="lazy"
            width="{{ section.settings.banner_image_bg_mobile.width }}"
            height="{{ section.settings.banner_image_bg_mobile.height }}"
            class="block w-full h-full mobile"
          >
        {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
  [data-section-id="{{ section.id }}"] {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  @media all and (min-width: 768px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
</style>

{% schema %}
{
  "name": "Home Banner",
  "class": "home-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image_bg_desk",
      "label": "Banner Image Desktop"
    },
    {
      "type": "image_picker",
      "id": "banner_image_bg_mobile",
      "label": "Banner Image Mobile"
    },
    {
      "type": "header",
      "content": "Banner Content"
    },
    {
      "type": "image_picker",
      "id": "banner_image_left",
      "label": "Banner Image Left"
    },
    {
      "type": "text",
      "id": "banner_text_2",
      "label": "Banner Text 2",
      "default": "Best Learning Opportunities"
    },
    {
      "type": "text",
      "id": "banner_text_3",
      "label": "Banner Text 3",
      "default": "Our goal is to make online education work for everyone"
    },
    {
      "type": "text",
      "id": "text_link_1",
      "label": "Text Link 1",
      "default": "Join Us"
    },
    {
      "type": "url",
      "id": "url_link_1",
      "label": "Url Link"
    },
    {
      "type": "text",
      "id": "text_link_2",
      "label": "Text Link 2",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "url_link_2",
      "label": "Url Link"
    },
    {
      "type": "header",
      "content": "Space section"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Space Top Desktop",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Space Bottom Desktop",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Space Top Mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Space Bottom Mobile",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Home Banner"
    }
  ]
}
{% endschema %}
