<div class="{{ section.class }} section-comments">
  <div class="container">
    {% if section.blocks.size > 0 %}
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide comment-item">
              <div class="comment-item__left">
                <div class="comment-item__left-rating">
                  <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.30929 -0.000488281L4.36126 3.95008L0 4.58247L3.15174 7.65715L2.40741 11.9995L6.30929 9.94972L10.2104 11.9995L9.46538 7.65715L12.62 4.58247L8.25877 3.95008L6.30929 -0.000488281Z" fill="#FFD056"/>
                  </svg>

                  <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.30929 -0.000488281L4.36126 3.95008L0 4.58247L3.15174 7.65715L2.40741 11.9995L6.30929 9.94972L10.2104 11.9995L9.46538 7.65715L12.62 4.58247L8.25877 3.95008L6.30929 -0.000488281Z" fill="#FFD056"/>
                  </svg>

                  <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.30929 -0.000488281L4.36126 3.95008L0 4.58247L3.15174 7.65715L2.40741 11.9995L6.30929 9.94972L10.2104 11.9995L9.46538 7.65715L12.62 4.58247L8.25877 3.95008L6.30929 -0.000488281Z" fill="#FFD056"/>
                  </svg>

                  <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.30929 -0.000488281L4.36126 3.95008L0 4.58247L3.15174 7.65715L2.40741 11.9995L6.30929 9.94972L10.2104 11.9995L9.46538 7.65715L12.62 4.58247L8.25877 3.95008L6.30929 -0.000488281Z" fill="#FFD056"/>
                  </svg>                                                                       
                </div>
                {% if block.settings.auth != blank %}
                  <h6 class="comment-item__left-auth">{{ block.settings.auth }}</h6>
                {% endif %}

                {% if block.settings.date != blank %}
                  <p class="comment-item__left-date">{{ block.settings.date }}</p>
                {% endif %}
              </div>

              <div class="comment-item__right">
                {% if block.settings.title != blank %}
                  <h5 class="comment-item__right-title">{{ block.settings.title }}</h5>
                {% endif %}

                {% if block.settings.content != blank %}
                  <div class="comment-item__right-content">{{ block.settings.content }}</div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="swiper-arrows">
          <div class="swiper-button-prev">{% render 'icon-arrow-prev' %}</div>
          <div class="swiper-button-next">{% render 'icon-arrow-next' %}</div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<style>
  [data-section-id="{{ section.id }}"] {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  @media all and (min-width: 768px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
</style>

{% schema %}
{
  "name": "Home Comments",
  "class": "home-comments",
  "settings": [
    {
      "type": "header",
      "content": "Space section"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Space Top Desktop",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Space Bottom Desktop",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Space Top Mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Space Bottom Mobile",
      "default": 36
    }   
  ],
  "blocks": [
    {
      "type": "comment",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Inito tells you all you need to monitor your fertility"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Conten",
          "default": "<p></p>"
        },
        {
          "type": "number",
          "id": "rating",
          "label": "Rating",
          "default": 4
        },
        {
          "type": "text",
          "id": "auth",
          "label": "Auth name",
          "default": "Krista Wilhelm"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Date",
          "default": "May 22, 2024"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Comments"
    }
  ]
}
{% endschema %}
