<div class="{{ section.class }} section-home-image-text" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="section-home-image-text__blocks">
      {% if section.settings.section_heading != blank %}
        <h2 class="section-home-image-text__blocks--heading">{{ section.settings.section_heading }}</h2>
      {% endif %}

      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          <div class="block-item {{ block.settings.position_image }} {{ block.settings.column_layout }}">
            <div class="block-item__left">
              {% if block.settings.heading != blank %}
                <h2 class="block-item__heading">{{ block.settings.heading }}</h2>
              {% endif %}
  
              {% if block.settings.description != blank %}
                <div class="block-item__description">{{ block.settings.description }}</div>
              {% endif %}

              {% if block.settings.text_link != blank and block.settings.url_link != blank %}
                <a href="{{ block.settings.url_link }}" class="btn btn-primary block-item__link">{{ block.settings.text_link }}</a>
              {% endif %}
            </div>

            <div class="block-item__right">
              {% if block.settings.image != blank %}
                <img
                  src="{{ block.settings.image | image_url }}"
                  alt=""
                  loading="lazy"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                  class="block w-full h-full desktop"
                >
              {% endif %}

              {% if block.settings.image_mb != blank %}
                <img
                  src="{{ block.settings.image_mb | image_url }}"
                  alt=""
                  loading="lazy"
                  width="{{ block.settings.image_mb.width }}"
                  height="{{ block.settings.image_mb.height }}"
                  class="block w-full h-full mobile"
                >
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<style>
  [data-section-id="{{ section.id }}"] {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  [data-section-id="{{ section.id }}"] {
    background: {{ section.settings.bg_section }};
  }

  [data-section-id="{{ section.id }}"] .section-home-image-text__blocks {
    gap: {{ section.settings.gap_element }}px;
  }

  @media all and (min-width: 768px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
</style>

{% schema %}
{
  "name": "Home Image Text",
  "class": "home-image-text",
  "settings": [
    {
      "type": "color",
      "id": "bg_section",
      "label": "Background Section"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading"
    },
    {
      "type": "range",
      "id": "gap_element",
      "min": 24,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Gap Element",
      "default": 24
    },
    {
      "type": "header",
      "content": "Space section"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Space Top Desktop",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Space Bottom Desktop",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Space Top Mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Space Bottom Mobile",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image_text",
      "name": "Image Text",
      "settings": [
        {
          "type": "select",
          "id": "column_layout",
          "label": "Column Layout",
          "options": [
            {
              "value": "column",
              "label": "Column"
            },
            {
              "value": "column-reverse",
              "label": "Column Reverse"
            }
          ],
          "default": "column"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mb",
          "label": "Image Mobile"
        },
        {
          "type": "select",
          "id": "position_image",
          "label": "Position Image",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Predict and confirm your ovulation with actual data"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p></p>"
        },
        {
          "type": "text",
          "id": "text_link",
          "label": "Text Link",
          "default": "Get the Inito kit"
        },
        {
          "type": "url",
          "id": "url_link",
          "label": "Url Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Image Text"
    }
  ]
}
{% endschema %}
